<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ConsoleApplication1.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="XPPRDSOAP" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
                <binding name="BasicHttpBinding_IService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7007" binding="basicHttpBinding" bindingConfiguration="XPPRDSOAP" contract="XPPRD.XPPRD" name="XPPRDSOAP"/>
            <endpoint address="http://netlogistik.winforstpro.com/WfpNetServiceWCFDemo/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="WfpNetService.IService" name="BasicHttpBinding_IService"/>
        </client>
    </system.serviceModel>
    <userSettings>
        <ConsoleApplication1.Settings>
            <setting name="webservice" serializeAs="String">
                <value>http://netlogistik.winforstpro.com/wfpnetservicewcfdemo/service.svc</value>
            </setting>
            <setting name="webfirma" serializeAs="String">
                <value>Zürichholz AG</value>
            </setting>
            <setting name="uebergabewebfirma" serializeAs="String">
                <value>xPolver-ZHH</value>
            </setting>
            <setting name="client_endpoint" serializeAs="String">
                <value>http://xpprd.polver.ch</value>
            </setting>
            <setting name="polverinterfaceversion" serializeAs="String">
                <value>1.0.0</value>
            </setting>
            <setting name="polverusername" serializeAs="String">
                <value>wfpro-zhh</value>
            </setting>
            <setting name="polverpassword" serializeAs="String">
                <value>la0818zh</value>
            </setting>
            <setting name="mail_from" serializeAs="String">
                <value />
            </setting>
            <setting name="mail_to" serializeAs="String">
                <value />
            </setting>
            <setting name="smtp_host" serializeAs="String">
                <value />
            </setting>
            <setting name="smtp_port" serializeAs="String">
                <value />
            </setting>
            <setting name="smtp_user" serializeAs="String">
                <value />
            </setting>
            <setting name="smtp_pw" serializeAs="String">
                <value />
            </setting>
            <setting name="dictionaryhs" serializeAs="String">
                <value>C:\tmp\0_Entwicklung\20170601_Schnittstelle_ZHH\20170802\ConsoleApplication1\dictnlhs.txt</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="username" serializeAs="String">
                <value>UploadUser</value>
            </setting>
            <setting name="dictionaryha" serializeAs="String">
                <value>C:\tmp\0_Entwicklung\20170601_Schnittstelle_ZHH\20170802\ConsoleApplication1\dictnlha.txt</value>
            </setting>
            <setting name="dictionarygkl" serializeAs="String">
                <value>C:\tmp\0_Entwicklung\20170601_Schnittstelle_ZHH\20170802\ConsoleApplication1\dictnlgkl.txt</value>
            </setting>
            <setting name="logs" serializeAs="String">
                <value>C:\tmp\0_Entwicklung\20170601_Schnittstelle_ZHH\20170802\ConsoleApplication1\ZHH_SYNC_LOG.txt</value>
            </setting>
            <setting name="dictionarycontacts" serializeAs="String">
                <value>C:\tmp\0_Entwicklung\20170601_Schnittstelle_ZHH\20170802\ConsoleApplication1\dictcontacts.txt</value>
            </setting>
            <setting name="pathtmpdocs" serializeAs="String">
                <value />
            </setting>
        </ConsoleApplication1.Settings>
    </userSettings>
</configuration>
